Source: hubo-ach
Priority: extra
Maintainer: Danel M. Lofaro <dan@danlofaro.com>
Build-Depends: debhelper (>= 9.0), autotools-dev, libach-dev, libreadline-dev
Standards-Version: 3.9.4
Section: libs
Homepage: http://github.com/hubo/hubo-ach
Vcs-Git: git://github.com/hubo/hubo-ach
Vcs-Browser: https://github.com/hubo/hubo-ach

Package: hubo-ach-utils
Section: libs
Architecture: any
Depends: libach1, ${shlibs:Depends}, ${misc:Depends}
Description: Low level controller programs for the Hubo 2 and Hubo 2+ platforms.
 Daemons for hubo-ach.

Package: hubo-ach-dev
Section: libs
Architecture: any
Depends: ${misc:Depends}
Description: Low level controller headers for the Hubo 2 and Hubo 2+ platforms.
 Header files for hubo-ach.
